.moviesList {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .moviesList {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
    .moviesList {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
